@if (professional) {
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{ professional.name }}</mat-card-title>
        <mat-card-subtitle>{{ professional.specialty }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{ professional.bio }}</p>
        <p><strong>Faixa de preço:</strong> {{ professional.priceRange }}</p>
        <p><strong>Avaliação:</strong> {{ professional.rating }}</p>

        <h4>Datas disponíveis</h4>
        <mat-list>
            @for (d of professional.availableDates; track d.toString()){
            <mat-list-item>
                {{ d.getDate() + "/" + d.getMonth() }}
                <button mat-button style="margin-left:auto" [routerLink]="['/appointments']"
                    [queryParams]="{ professionalId: professional.id, date: d }">Agendar</button>
            </mat-list-item>}
        </mat-list>
    </mat-card-content>
</mat-card>
}