<form [formGroup]="form" (submit)="register()">
    <mat-card appearance="outlined" class="register-card">
        <mat-card-header>
            <mat-card-title>Criar Conta</mat-card-title>
        </mat-card-header>
        <mat-card-content class="register-forms">
            <div style="display: flex; gap: 10px;">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="name" required>
                    @if (name?.hasError('required') && name?.touched) {
                    <mat-hint align="start" style="color: rgb(160, 0, 0);">Um nome é necessário.</mat-hint>
                    }
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Sobrenome</mat-label>
                    <input matInput formControlName="surname">
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" formControlName="email" required>

                @if (email?.hasError('required') && email?.touched) {
                <mat-hint align="start" style="color: rgb(160, 0, 0);">Um email é necessário.</mat-hint>
                }@else if (email?.hasError('email') && email?.touched) {
                <mat-hint align="start" style="color: rgb(160, 0, 0);">Insira um e-mail válido.</mat-hint>
                }

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput type="password" formControlName="password">

                @if (password?.hasError('required') && password?.touched) {
                <mat-hint align="start" style="color: rgb(160, 0, 0);">Uma senha é necessária.</mat-hint>
                }@else if (password?.hasError('pattern') && password?.touched) {
                <mat-hint align="start" style="position: inherit; color: rgb(160, 0, 0);">A senha deve conter entre 8 e
                    16 caracteres, incluindo números e letras.</mat-hint>
                }

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirme a senha</mat-label>
                <input matInput type="password" formControlName="confirm">

                @if (form.hasError('diffPassword') && confirmPassword?.touched) {
                <mat-hint align="start" style="color: rgb(160, 0, 0);">As duas senhas devem ser iguais.</mat-hint>
                }

            </mat-form-field>
            <mat-radio-group formControlName="role" aria-label="Selecione uma opção">
                <mat-radio-button value="1">Cliente</mat-radio-button>
                <mat-radio-button value="2">Profissional</mat-radio-button>
            </mat-radio-group>
        </mat-card-content>
        <mat-card-actions align="end">
            <button matButton="filled" type="submit" disabled="{{form.invalid}}">Solicitar Cadastro</button>
            <button matButton="text" routerLink="/login">Tenho Conta</button>
        </mat-card-actions>
    </mat-card>
</form>