body { font-family: Roboto, "Helvetica Neue", Arial, sans-serif; margin: 0;}
.app-shell { min-height: 100vh; display:flex; flex-direction: column; }
.main { padding: 16px; flex: 1 0 auto; }
.grid { display:grid; gap:16px; }
@media(min-width: 800px) {
  .grid.cols-3 { grid-template-columns: repeat(3, 1fr); }
  .grid.cols-2 { grid-template-columns: repeat(2, 1fr); }
}
#app {
  display: block;
  height: 100vh;
}